/* Display the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

/* Dashboard */
.dashboard-image {
    display: flex;
    flex-direction: column;
    min-height: 28em;
    height: 50%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    /* justify-content: center; */
    margin-bottom: 2em;
}

/* Product */
.product-image {
    object-fit: contain;
    height: 200px;
    vertical-align: bottom;
}

/* Cart */
.cart-image {
    object-fit: contain;
    height: 100px;
}

/* quantity buttons */
.cart-minus,
.cart-plus {
    width: 30px;
    height: 30px;
    background: #f2f2f2;
    border-radius: 4px;
    /* padding: 8px 5px 8px 5px; */
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; /* Change mouse cursor to pointer */
    user-select: none; /* Stops users from selecting the text*/
}

.cart-quantity-textbox {
    height: 30px;
    width: 75px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

/* Checkout */
.checkout-title {
    font-size: 1.8em;
}

.checkout-subtitle {
    font-size: 1.2em;
    margin-bottom: 1.6em;
}

.checkout-name {
    font-size: 1.25em;
}

.checkout-price {
    font-size: 1.1em;
}

.checkout-image {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.checkout-quantity {
    border: 1px solid #222;
    padding: 0.5em;
}

/* Order */
.order-product-img {
    background: #f4f5fa;
    height: 100px;
    margin-bottom: 1rem;
    width: 130px;
    position: relative;
}

.order-product-name {
    font-size: 1em;
}

.order-product-description,
.order-product-price,
.order-product-quantity {
    font-size: 0.9em;
}
