.checkout-title {
    font-size: 1.8em;
}

.checkout-subtitle {
    font-size: 1.2em;
    margin-bottom: 1.6em;
}

.checkout-name {
    font-size: 1.25em;
}

.checkout-price {
    font-size: 1.1em;
}

.checkout-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* height: 350px; */
}

.checkout-quantity {
    border: 1px solid #222;
    padding: 0.5em;
}
