/* https://bbbootstrap.com/snippets/bootstrap-order-details-tracking-button-42742421 */
/* https://bbbootstrap.com/snippets/bootstrap-order-table-toggle-button-29934887 */

.cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    background: #fff;
    border-bottom: 5px solid transparent;
    background-clip: padding-box;
}

thead {
    background: #dddcdc;
}

.row-main {
    padding: 1.5vh 0;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    /* font-weight: bold; */
    text-align: center;
}

.product-img {
    background: #f4f5fa;
    height: 100px;
    margin-bottom: 1rem;
    width: 130px;
    position: relative;
}
/* .shopping-cart .product-img img {
    height: 80px;
    margin: 0 auto;
} */

.product-name {
    font-size: 1em;
}

.product-description {
    font-size: 0.9em;
}
